@import "../Range/Range.scss";
@import "../Scale/Scale.scss";
@import "../Slider/Slider.scss";
@import "../Thumb/Thumb.scss";
@import "../Tooltip/Tooltip.scss";

* {
  -webkit-tap-highlight-color: rgb(255, 255, 255);
  -webkit-tap-highlight-color: transparent;
}

.range-slider-item {
  display: flex;
  flex-direction: column;
  width: 100%;

  &_vertical {
    width: 7px;
  }
}

.hidden {
  display: none;
}
