$slider-margin: 100px;
$slider-border-color: rgb(133, 133, 133);
$slider-thumb-color: #fff;
$slider-bg-color: #e8e8e8;
$slider-between-bg-color: #71ff84;

$slider-thickness: 7;
$slider-range-border: 1;

.range-slider {
  position: relative;
  width: auto;
  height: $slider-thickness + px;
  margin: $slider-margin;
  background: $slider-bg-color;
  border: $slider-range-border + px solid $slider-border-color;
  border-radius: calc(#{$slider-thickness} / 2) + 'px';
  cursor: pointer;

  &_vertical {
    width: $slider-thickness + px;
    height: inherit;
    margin-right: auto;
    margin-left: auto;
  }
}

$thumb-size: 20;

.range-slider__thumb {
  &_from,
  &_to {
    position: absolute;
    top: -8px;
    z-index: 5;
    height: $thumb-size + px;
  }

  &_from::before,
  &_to::before {
    position: absolute;
    top: 0;
    left: ($thumb-size/2) + px;
    width: 20px;
    height: 20px;
    margin-left: -20px;
    background: $slider-thumb-color;
    border: 1px solid $slider-border-color;
    border-radius: 50%;
    cursor: pointer;
    content: '';
  }

  &_vertical {
    left: 2px;
  }
}

$slider-tooltip-width: 40;

.range-slider__tooltip {
  &_from,
  &_to {
    position: relative;
    top: -30px;
    left: -50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 5px;
    border: 1px solid $slider-border-color;
    border-radius: 4px;
  }

  &_hidden {
    display: none;
  }

  &_vertical {
    top: -5%;
    left: 50% !important;
  }

  &_z-index-top {
    z-index: 10;
  }
}

.range-slider__range {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  height: auto;
  background: $slider-between-bg-color;
  border-radius: $slider-thickness/2 + px;
}

.range-slider__scale {
  position: relative;
  height: 25px;

  &_vertical {
    left: -25px;
    width: 30px;
    height: 100%;
  }

  &-mark {
    position: absolute;
    top: 5px;
    display: block;
    width: 1px;
    height: 10px;
    background: $slider-border-color;

    &:first-child {
      left: -1px;
    }

    &_vertical {
      top: 0;
      left: 15px !important;
      width: 10px;
      height: 1px;

      &:first-child {
        top: -1px;
      }
    }

    &-value {
      position: absolute;
      top: 12px;
      transform: translateX(-50%);

      &:hover {
        background-color: $slider-bg-color;
      }

      &_vertical {
        top: -10px;
        left: 10px;
        transform: translateX(-100%);
      }
    }
  }
}
