@import '../RangeSlider/RangeSlider.scss';

.settings-panel {
  margin-top: 50px;
  margin-bottom: 20px;
  background: $slider-bg-color;
  border: 1px solid $slider-border-color;
  border-radius: 4px;
  user-select: auto;

  &__caption {
    display: inline-block;
    margin: 10px 0 0 10px;
    font-weight: bold;
  }
}

.settings-panel__options_inputs-block,
.settings-panel__options_toggles-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px 10px 0 10px;
}

.settings-panel__options_input,
.settings-panel__options_toggle {
  display: flex;
  width: 100px;
  margin: 0 5px;
  margin-bottom: 10px;
  border: 1px solid $slider-border-color;
}

.settings-panel__options {
  &_input {
    flex-direction: column;
  }

  &_toggle {
    flex-direction: row;
  }
}

.settings-panel__options_input {
  &-text {
    font-weight: bold;
    text-align: center;
    background: $slider-between-bg-color;
  }

  &-value {
    width: 100%;
    text-align: center;
  }
}

.settings-panel__options_toggle_input {
  margin: 0 10px;

  &:focus {
    content: '';
    width: 15px;
    height: 15px;
    box-shadow: 0 0 5px red;
  }
}

.settings-panel__options_toggle_label:focus-within {
  font-weight: bold;
}