body {
  overflow-y: scroll;
}

.wrapper {
  padding: 50px;
}

.r-slider {
  min-width: 115px;
  margin: 50px 0;

  &:first-child {
    margin-top: 0;
  }
}

.slider-1,
.slider-2,
.slider-3,
.slider-4 {
  width: 100%;
}
