body {
  overflow-y: scroll;
}

.hidden {
  display: none;
}

.wrapper {
  padding: 50px;
}

.r-slider {
  min-width: 115px;
  margin: 50px 0;

  &:first-child {
    margin-top: 0;
  }
}

.slider-1 {
  width: 100%;
}

.slider-2 {
  width: 50%;
  margin-top: 75px;
}

.slider-3 {
  height: 200px;
}

.slider-4 {
  height: 400px;
}
