@import "utils/vars.scss";
@import "utils/mixins.scss";
@import "utils/reset.scss";

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  color: $mainFontColor;
  font-weight: normal;
  font-size: $mainFontSize;
  font-family: $mainFont, Arial, sans-serif;
  line-height: $mainLineHeight;
  background-color: white;
}
