$slider-border-color: rgb(133, 133, 133);
$slider-bg-color: #e8e8e8;
$slider-between-bg-color: #71ff84;
$slider-thickness: 5;
$slider-range-border: 1;
$slider-thumb-size: 20;
$slider-thumb-color: #fff;
$slider-tooltip-width: 40;
