include ./head-block.pug
include ./favicon.pug

block variables

doctype html
html(lang='en')
  head
    +head-block()
    +favicon()

  body(class=pageClass)

    .wrapper
      block content

    block script