// Quicksand-Bold
@font-face {
  font-weight: bold;
  font-family: 'Quicksand';
  font-style: normal;
  src: url('../fonts/Quicksand/Quicksand-Bold.eot'); // IE9 Compat Modes
  src:
    url('../fonts/Quicksand/Quicksand-Bold.eot?#iefix') format('embedded-opentype'), // IE6-IE8
        url('../fonts/Quicksand/Quicksand-Bold.woff') format('woff'), // Pretty Modern Browsers
        url('../fonts/Quicksand/Quicksand-Bold.woff2') format('woff'), // Pretty Modern Browsers
        url('../fonts/Quicksand/Quicksand-Bold.ttf') format('truetype'), //Safari, Android, iOS
}

// Quicksand-Regular
@font-face {
  font-weight: normal;
  font-family: 'Quicksand';
  font-style: normal;
  src: url('../fonts/Quicksand/Quicksand-Regular.eot'); // IE9 Compat Modes
  src:
    url('../fonts/Quicksand/Quicksand-Regular.eot?#iefix') format('embedded-opentype'), // IE6-IE8
        url('../fonts/Quicksand/Quicksand-Regular.woff') format('woff'), // Pretty Modern Browsers
        url('../fonts/Quicksand/Quicksand-Regular.woff2') format('woff'), // Pretty Modern Browsers
        url('../fonts/Quicksand/Quicksand-Regular.ttf') format('truetype'), //Safari, Android, iOS
}
