// Fonts
$mainFont           : arial, sans-serif;

// Size
$mainFontColor      : #101010;
$mainFontSize       : 14px;
$mainFontWeight     : 400;
$mainLineHeight     : 1.4;

$desktopWidth       : 1280px;
$smDesktopWidth     : 1024px;
$tableWidth         : 768px;
$smTableWidth       : 640px;
$phoneWidth         : 414px;
$smPhoneWidth       : 320px;

// Paddings
$desktopWidthPadding: 30px;

$BorderRadius       : 4px;
$inputCapMarBottom  : 5px;
$phoneWidthMargin   : 2%;
