extends ../components/layouts/main

block variables
  - var title = 'FSD Navigation Menu';
  - var description = 'FSD education project | navigation page';
  - var pageClass = 'navigation-page';

block content
