extends ../components/layouts/main

block variables
  - title = 'MetaLamp Slider';
  - description = 'MetaLamp Slider project demo page';
  - keywords = 'Range Slider typescript scss';
  - pageClass = 'slider-demo-page';

block content

  .r-slider.slider-1
    .range-slider__block
      #range-slider

  .r-slider.slider-2
    .range-slider__block
      #range-slider2

  .r-slider.slider-3
    .range-slider__block
      #range-slider3

  .r-slider.slider-4
    .range-slider__block
      #range-slider4