extends ../components/layouts/main

block variables
  - var title = 'MetaLamp Slider';
  - var description = 'MetaLamp Slider project demo page';
  - var pageClass = 'slider-demo-page';

block content

  .range-slider-block
    #range-slider

  .range-slider-block
    #range-slider2

  .range-slider-block
    #range-slider3

  .range-slider-block
    #range-slider4