extends ../components/layouts/main

block variables
  - var title = 'MetaLamp Slider';
  - var description = 'MetaLamp Slider project demo page';
  - var keywords = 'Range Slider typescript scss';
  - var pageClass = 'slider-demo-page';

block content

  .r-slider.slider-1
    .range-slider-block
      #range-slider

  .r-slider.slider-2
    .range-slider-block
      #range-slider2

  .r-slider.slider-3
    .range-slider-block
      #range-slider3

  .r-slider.slider-4
    .range-slider-block
      #range-slider4