extends ../components/layouts/main

block variables
  - var title = 'MetaLamp Slider';
  - var description = 'MetaLamp Slider project demo page';
  - var pageClass = 'slider-demo-page';

block content

  include ../components/RangeSlider/ConfigurationPanel/ConfigurationPanel.pug

  .range-slider-block.block-1
    #range-slider
    +configurationPanel({id: 'range-slider'})

  .range-slider-block.block-2
    #range-slider2
    +configurationPanel({id: 'range-slider2'})

  .range-slider-block.block-3
    #range-slider3
    +configurationPanel({id: 'range-slider3'})