extends ../components/layouts/main

block variables
  - var title = 'MetaLamp Slider';
  - var description = 'MetaLamp Slider project demo page';
  - var pageClass = 'slider-demo-page';

block content

  .block-1
    #range-slider

  .block-2
    #range-slider2

  .block-3
    #range-slider3