extends ../components/layouts/main

block variables
  - var title = 'MetaLamp Slider';
  - var description = 'MetaLamp Slider project demo page';
  - var pageClass = 'slider-demo-page';

block content

  .slider__block
    include ../components/ui-kit/RangeSlider/RangeSlider
    +RangeSlider()