$slider-margin: 15px;
$slider-border-color: rgb(133, 133, 133);
$slider-thumb-color: #fff;
$slider-bg-color: #71ff84;

.range-slider {
  width: 100% - calc(15 * 2);
  height: 6px;
  margin: $slider-margin;
  background: $slider-bg-color;
  border: 1px solid $slider-border-color;
  border-radius: 3px;
}

$thumb_position: 30%;

.range-slider__thumb {
  position: relative;
  top: -8px;
  left: $thumb_position;
  width: 20px;
  height: 20px;
  background: $slider-thumb-color;
  border: 1px solid $slider-border-color;
  border-radius: 50%;
  cursor: pointer;
}
