mixin RangeSlider(options)
  if (options.single === true)
    .range-slider#range-slider
      .range-slider__thumb_from

  if (options.double === true)
    .range-slider#range-slider
      .range-slider__thumb_from
      .range-slider__thumb_to
