$slider-margin: 15px;
$slider-border-color: rgb(133, 133, 133);
$slider-thumb-color: #fff;
$slider-bg-color: #e8e8e8;
$slider-between-bg-color: #71ff84;

$slider-height: 6;
.range-slider {
  width: 100% - calc(15 * 2);
  height: $slider-height + 'px';
  margin: $slider-margin;
  background: $slider-bg-color;
  border: 1px solid $slider-border-color;
  border-radius: calc(#{$slider-height} / 2) + 'px';
}

.range-slider__between {
  display: flex;
  position: relative;
  box-sizing: border-box;
  background: $slider-between-bg-color;
  height: 4px;
  border-radius: 2px;
  margin-left: 30%;
  margin-right: 30%;
}

.range-slider__thumb_from,
.range-slider__thumb_to {
  position: relative;
  width: 20px;
  height: 20px;
  top: -8px;
  background: $slider-thumb-color;
  border: 1px solid $slider-border-color;
  border-radius: 50%;
  cursor: pointer;
}

.range-slider__thumb_from {
  left: -10px;
}

.range-slider__thumb_to {
  left: calc(100% - 30px);
}
