@import "../../../assets/scss/vars.scss";

.thumb {
  &-from,
  &-to {
    position: absolute;
    top: -8px;
    z-index: 5;
    height: $slider-thumb-size + px;
  }

  &-to {
    left: -1px;
  }

  &-from::before,
  &-to::before {
    position: absolute;
    top: 0;
    left: ($slider-thumb-size/2) + px;
    width: 20px;
    height: 20px;
    margin-left: -20px;
    background: $slider-thumb-color;
    border: 1px solid $slider-border-color;
    border-radius: 50%;
    cursor: pointer;
    content: "";
  }

  &-vertical {
    top: -11px;
    left: 2px;
  }
}
